
html {
    margin: 0;
    padding: 0;
}

#wrap {
    min-height: 100vh;
    position: relative;
    /*내용들을 스크롤할 수 있게 하는 부분 fixed : 스크롤해도 위치 고정 , */
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    background: black;
}

.nav__logo {
    font-size: 40px;
    color: red;
  }
  .nav__logo_a {
    color: red;
  }
  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  .navigation-login {
    margin-right: 15px;
  }
  .nav__logo_a:hover {
    font-weight: bolder;
    color: red;
  }
  .nav__logo_a {
    color: red;
  }
  .nav__black {
    background-color: black;
  }
  .navigation-login_a {
    color: white;
  }
  .navigation-login_a:hover {
    color: white;
  }
  .navigation-join_a {
    color: white;
  }
  .navigation-join_a:hover {
    color: white;
  }

a:link {
    text-decoration-line: none;
}

a:visited {
    text-decoration-line: none;
}

a:active {
    text-decoration-line: none;
    color: #646464;
}

a:hover {
    text-decoration-line: none;
    font-weight: bolder;
}

.primary-navigation-login {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: right;
}

.navigation-login-login {
    margin-right: 30px;
}

.primary-navigation {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    list-style: none;
}

footer {
  background-color: black;
  border-top: 9px solid #222;
  padding-top: 5%;
}

footer h5 {
  color: white;
  text-align: center;
  padding-bottom: 1%;
}
footer .content {
  max-width: 1350px;
  margin: 0px 90px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .content .box {
  width: 20%;
  transition: all 0.4s ease;
}
footer .content p {
  text-align: justify;
}
footer .content .middle {
  padding-left: 80px;
}
footer .content .middle a {
  line-height: 32px;
  color: white;
  text-decoration: none;
}
footer .content .middle a:hover {
  text-decoration: underline;
}
footer .content .middle select {
  padding: 8px;
  background-color: transparent;
  border: 1px solid gray;
  color: white;
}
footer .content .middle select option {
  background-color: black;
}
footer .content .middle img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/* 여기부터 my_page */

.title {
    background: url("https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png") no-repeat center;
    width: 100%;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
}

.title__message {
    display: block;
    color: white;
    margin: 5% auto 5% auto;
    text-align: center;
}

.title__btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.title__btn > button {
    background: transparent;
    border-radius: 30%;
    border: 1px solid white;
    width: 12%;
}


.mypage_form {
    display: none;
    background: transparent;
    width: 100%;
    height: 100vh;
}

.mypage_form > .mypage__inputform {
    display: block;
    height: 60%;
    width: 45%;
    margin: 10% auto 0 auto;
    border: 2px solid gray;
    text-align: center;
    border-radius: 2%;
}

.mypage__inputform > h3 {
    margin: 4% auto 0 auto;
    color: white;
}

.mypage__inputform > .link_input {
    width: 60%;
    height: 40px;
    margin: 2% auto 0 auto;
}

.mypage__inputform > h4 {
    margin: 4% auto 0 auto;
    color: white;
}

.mypage__inputform > select {
    width: 40%;
    height: 40px;
    margin: 2% auto 0 auto;
}

.mypage__inputform>.comment_form > h4 {
    margin: 4% auto 2% auto;
    color: white;
}

.mypage__inputform > .comment_form {
    display: block;
    width: 80%;
    height: 40px;
    margin: 2% auto 0 auto;
}


.mypage__inputform > .save_btn {
    color: white;
    display: none;
    background: transparent;
    border: 1px solid white;
    width: 15%;
    height: 40px;
    float: None;
    border-radius: 30%;
    margin: 19% auto 0 auto;
}

.movie_card {
    width: 100%;
    max-width: 1200px;
    margin: 22.5% auto 0 auto;
    display:flex;
    clear: both;
}

.row {
    width: 100%;
    max-width: 1200px;
    display:flex;
}

.card {
    width: 370px;
    display:flex;
    margin-bottom: 5%;
}

.card-img-top:hover {
    cursor: pointer;
}

.card-body > .delete {
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 2% 0 -2% -2%;
    float: left;
    padding: 0 0 0 0;
}

.card-body > .correction {
    width: 60px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 2% 0 -2% 2%;
    float: left;
    padding: 0 0 0 0;
}

/* Correction.css */
.correction_wrap{
    background: url("https://help.nflxext.com/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png") no-repeat center;
    width: 600px;
    height:600px;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    background-size: cover;
}

.correction_form {
    display: block;
    background: transparent;
    width: 100%;
    height:80%;
    margin: 0 auto 0 auto;
}

.correction_form > .correction__inputform  {
    display: block;
    height: 100%;
    width: 90%;
    margin: 10% auto 0 auto;
    text-align: center;
    border-radius: 2%;
}

.correction__inputform > h3 {
    margin: 4% auto 0 auto;
    color: white;
}

.correction__inputform > .link_input {
    width: 80%;
    height: 40px;
    margin: 2% auto 0 auto;
}

.correction__inputform > h4 {
margin: 4% auto 0 auto;
    color: white;
}

.correction__inputform > select {
    width: 40%;
    height: 40px;
    margin: 2% auto 0 auto;
}

.correction__inputform > .correction_comment_form > h4 {
    margin: 4% auto 2% auto;
    color: white;
}

.correction__inputform > .correction_comment_form {
    display: block;
    width: 80%;
    height: 40px;
    margin: 2% auto 0 auto;
}


.correction_comment_form > .correction_btn {
    color: white;
    display: block;
    background: transparent;
    border: 1px solid white;
    width: 40%;
    height: 45px;
    border-radius: 30%;
    margin: 10% auto 0 auto;
}

.correction_btn:hover {
    background:gray;
}
