.top-bar{
            width: 100%;
            height: 40px;
            background-color: ghostwhite;

            display: flex;
            justify-content : space-between;
            align-items : center;
            list-style-position: inside;




            color: rgb(46, 46, 165);
        }
        .top-bar >button{
            text-align: left;
            width: 100px;
            height: 40px;

            background-color: transparent;
            color: rgb(46, 46, 165);

            border: solid transparent;



        }
        .bar-list{
            display: flex;
            padding-right: 20px;
            align-items: center;
        }


        .header {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;


        }
        .left{
            width: 33%;
            float: left;
            box-sizing: border-box;
            text-align: left;

        }
        .middle{
            width: 33%;
            float: left;
            box-sizing: border-box;

            text-align: center;

        }
        .right{
            width: 33%;
            float: right;
            box-sizing: border-box;


            text-align: right;
            padding-right: 40px;

        }


        .buy-title{
            display: flex;
            width:100%;
            height: 40px;

            padding-left: 20px;

            /*flex-direction: row;*/
            align-items: center;
            /*justify-content: center;*/

            background-color: ghostwhite;

            float: left;

        }
        .my-buy{
            width: 100%;
            height: 60px;

            background-color: transparent;

            border: solid transparent;


        }
        .wrap{
            display: none;

        }
        .card{
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        card > button{
           float: left;

        }
        stock-list{
            display: none;
        }