<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    </style>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
        .menu {
            display: flex;
            justify-content: space-between;
            margin: 30px;
            color: black;
        }

        .nav-menu {
            display: flex;
            padding-right: 20px;
            align-items: center;
        }

        .nav-item {
            margin-right: 20px;
        }

        .card {
            width: 300px;
            height: 200px;
            margin: 10px;
            margin-top: 50px;
            padding: 10px;
        }

        .card-boxs {
            display: flex;
        }

        .btn {
            width: 70px;
            height: 50px;
            margin: 30px;
            margin-top: 100px;
            display: inline-block;
            justify-content: center;
            background-color: #00B4CC;
        }

        .table {
            width: 400px;
            height: 200px;
            float: right;
        }

        .wrap {
            width: 30%;
            position: absolute;
            top: 25%;
            left: 60%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script>
        function buy(){
            alert('매수되었습니다.');
        }
    </script>
</head>
<body>

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
    </p>
    <p class="subtitle">
    </p>
  </div>
    <div class="tabs is-centered">
  <ul>
    <li class="is-active"><a>Home</a></li>
    <li><a>my page</a></li>
    <li><a>login</a></li>
    <li><a>join</a></li>
  </ul>
</div>
<!--  <div class="menu">-->
<!--    <div class="logo">-->
<!--        <div class="nav-item">-->
<!--            <a class="nav-link active" aria-current="page" href="#">gazuaaa</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="nav-menu">-->
<!--        <div class="nav-item">-->
<!--            <a class="nav-link" href="/mypage/">my page</a>-->
<!--        </div>-->
<!--        <div class="nav-item">-->
<!--            <a class="nav-link" href="/login/">login</a>-->
<!--        </div>-->
<!--        <div class="nav-item">-->
<!--            <a class="nav-link disabled" href="/join" tabindex="-1" aria-disabled="true">join</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</section>



<div class="wrap">
    <div class="search">
        <input type="text" class="searchTerm" placeholder="검색...">
        <button type="submit" class="searchButton">🔍
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
<button type="button" class="btn btn-primary">KOSPI</button>
<div class="card-boxs">
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
</div>

<button type="button" class="btn btn-primary">KOSDAQ</button>
<div class="card-boxs">
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
    <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        삼성전자
                    </p>
                    <button class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
                    </button>
                </header>
                <div class="card-content">
                    <div class="content">
                        70,000
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/mypage/" class="card-footer-item" onclick="buy()">매수</a>
                    <a href="https://finance.naver.com/" class="card-footer-item">네이버 정보</a>
                </footer>
            </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">인기 검색 종목</th>
      <th scope="col">시가</th>
      <th scope="col">전일 대비</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>삼성전자</td>
      <td>69,500</td>
      <td>▼600</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>카카오</td>
      <td>92,100</td>
      <td>🔺500</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>SK 하이닉스</td>
      <td>118,000</td>
      <td>🔺1,500</td>
    </tr>
  </tbody>
</table>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>hanghae99</strong> by <a href="https://jgthms.com">6기 8조</a> mini project
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
</body>
</html>